// body {
//   background-color: rgb(25, 25, 25); // dark
//   color: rgb(223, 223, 223); // dark
// }

// .dark {
//@primary-color: #1e66d5; // dark
@bg-color: rgb(25, 25, 25); // dark
@font-color: rgb(223, 223, 223); // dark
@component-deep-bg: darken(@component-background, 10%); // dark

@high-text-color: fade(#fff, 75%);

//@import 'variables_dark';

h1,
h2,
h3,
h4,
h5,
h6 {
  color: @font-color; // dark
}

//.ant-card {
//  color: @font-color; // dark
//  background-color: rgb(34, 34, 34); // dark
//}
@import (multiple) './variables_dark';

// @import 'styles/dark_antd/style/mixins/index';
// @import 'styles/dark_antd/button/style/index';
// @import 'styles/dark_antd/input/style/index';
// @import 'styles/dark_antd/select/style/index';
// @import 'styles/dark_antd/checkbox/style/index';
// @import 'styles/dark_antd/radio/style/index';
// @import 'styles/dark_antd/grid/style/index';
// @import 'styles/dark_antd/form/style/index';
// @import 'styles/dark_antd/card/style/index';
// @import 'styles/dark_antd/table/style/index';
// @import 'styles/dark_antd/list/style/index';
// @import 'styles/dark_antd/comment/style/index';
// @import 'styles/dark_antd/pagination/style/index';
// @import 'styles/dark_antd/menu/style/index';
// @import 'styles/dark_antd/progress/style/index';
// @import 'styles/dark_antd/tag/style/index';
// @import 'styles/dark_antd/badge/style/index';
// @import 'styles/dark_antd/tabs/style/index';
// @import 'styles/dark_antd/collapse/style/index';
// @import 'styles/dark_antd/popover/style/index';
// @import 'styles/dark_antd/switch/style/index';
// @import 'styles/dark_antd/spin/style/index';
// @import 'styles/dark_antd/skeleton/style/index';
// @import 'styles/dark_antd/divider/style/index';
// @import 'styles/dark_antd/modal/style/index';
// @import 'styles/dark_antd/message/style/index';
// @import 'styles/dark_antd/notification/style/index';
// @import 'styles/dark_antd/upload/style/index';

@import (multiple) 'margin';

a {
  color: @link-color;
  background-color: transparent; // remove the gray background on active links in IE 10.
  text-decoration: @link-decoration;
  outline: none;
  cursor: pointer;
  transition: color 0.3s;
  -webkit-text-decoration-skip: objects; // remove gaps in links underline in iOS 8+ and Safari 8+.

  &:focus {
    text-decoration: underline;
    text-decoration-skip: ink;
  }

  &:hover {
    color: @link-hover-color;
  }

  &:active {
    color: @link-active-color;
  }

  &:active,
  &:hover {
    outline: 0;
    text-decoration: @link-hover-decoration;
  }

  &[disabled] {
    color: @disabled-color;
    cursor: not-allowed;
    pointer-events: none;
  }
}

.ant-layout {
  background: @bg-color;
}

.ant-layout-header {
  background-color: rgba(34, 34, 34, 0.7); // dark

  .ant-menu-horizontal > .ant-menu-item > a {
    color: @font-color; // dark;
    &:hover {
      color: @primary-color;
    }
  }

  .ant-menu {
    color: @font-color; // dark;
  }
}

.ant-layout-content {
  background-color: @bg-color;
}

.ant-layout-footer {
  background-color: darken(@bg-color, 4%);
}

// .ant-modal {
//   @media only screen and (max-width: 767px) {
//     top: @header-height;
//   }
// }

.nav {
  line-height: @header-height;
  border-bottom: none;

  // @media only screen and (max-width: 767px) {
  //   border-right: none;
  // }
}

.ant-menu-item .anticon {
  font-size: 20px;
  vertical-align: middle;
  margin-right: 0;
}

.ant-table-thead > tr > th {
  padding: 16px 8px 8px;

  &:first-of-type {
    padding-left: 16px;
  }

  &:last-of-type {
    padding-right: 16px;
  }
}

.ant-table-fixed-header > .ant-table-content > .ant-table-scroll > .ant-table-body {
  background: @component-background;
}

.ant-table-tbody > tr > td {
  padding: 8px;

  &:first-of-type {
    padding-left: 16px;
  }

  &:last-of-type {
    padding-right: 16px;
  }

  //a {
  //  color: @high-text-color;
  //
  //  &:hover {
  //    color: #fff;
  //  }
  //}
}

.ant-input::placeholder {
  color: fade(@text-color, 25%);
}

.ant-radio-group-large .ant-radio-button-wrapper {
  height: @input-height-lg;
  line-height: @input-height-lg - 2px;
  font-size: @font-size-lg;
}

.ant-radio-group-small .ant-radio-button-wrapper {
  height: @input-height-sm;
  line-height: @input-height-sm - 2px;
  padding: 0 @control-padding-horizontal-sm - 1px;
}

.ant-modal-confirm-content-only {
  .ant-modal-confirm-title {
    display: none;
  }
}

.ant-select-search__field__placeholder {
  color: @disabled-color;
}

.input-button {
  .ant-input-search-button {
    .btn-default;
  }
}

.input-button-primary {
  .ant-input-search-button {
    .btn-primary;
  }
}

.input-button-disabled {
  .input-button;

  .ant-input-search-button {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      .button-color(@btn-disable-color; @btn-disable-bg; @btn-disable-border);
    }

    cursor: not-allowed;

    > * {
      pointer-events: none;
    }
  }
}

.ant-table-tbody > tr > td.result-bar {
  border-left: 1px solid rgb(82, 82, 82);
  border-right: 1px solid rgb(82, 82, 82);

  .result {
    color: @heading-color;
  }
}

// .ant-table-fixed-header > .ant-table-content > .ant-table-scroll > .ant-table-body {
//   background: @component-deep-bg;
// }

.ant-form-item-required::before {
  content: none;
}

.ant-badge-count {
  box-shadow: 0 0 0 1px #000;
}

.ant-list-split .ant-list-item {
  border-bottom: 1px solid @border-color-split;

  &:last-child {
    border-bottom: none;
  }
}

.ant-list-split .ant-list-header {
  border-bottom: 1px solid @border-color-split;
}

.ant-list-something-after-last-item .ant-spin-container > .ant-list-item:last-child {
  border-bottom: 1px solid @border-color-split;
}

.ant-collapse {
  > .ant-collapse-item {
    border-bottom-color: @border-color-base;

    > .ant-collapse-header {
      color: @heading-color;
    }
  }

  .ant-collapse-borderless > .ant-collapse-item {
    border-bottom-color: @border-color-base;
  }
}

.ant-progress-show-info .ant-progress-outer {
  padding-right: calc(2em + 8px);
  margin-right: calc(-2em - 8px);
}

.ant-upload-list-item:hover .ant-upload-list-item-info {
  background-color: @item-hover-bg;
}

.ant-upload.ant-upload-drag {
  border: @border-width-base dashed @border-color-base;
  background: @background-color-light;

  &.@{upload-prefix-cls}-drag-hover:not(.@{upload-prefix-cls}-disabled) {
    border: 2px dashed @primary-5;
  }

  &:not(.@{upload-prefix-cls}-disabled):hover {
    border-color: @primary-5;
  }

  p.@{upload-prefix-cls}-drag-icon {
    .@{iconfont-css-prefix} {
      color: @primary-5;
    }
  }
  p.@{upload-prefix-cls}-text {
    color: @heading-color;
  }
  p.@{upload-prefix-cls}-hint {
    color: @text-color-secondary;
  }
  .@{iconfont-css-prefix}-plus {
    color: @disabled-color;
    &:hover {
      color: @text-color-secondary;
    }
  }
  &:hover .@{iconfont-css-prefix}-plus {
    color: @text-color-secondary;
  }
}

.ant-select-tree-checkbox-indeterminate .ant-select-tree-checkbox-inner {
  background-color: #000;
}

li.ant-calendar-time-picker-select-option-selected {
  background: @time-picker-selected-bg;
}

.message-list {
  background: transparent;

  > .ant-collapse-item {
    .message-footer {
      color: @text-color;
    }
  }
}

.click-table {
  .ant-table-tbody > tr {
    .float-btn {
      padding: 0;

      a {
        display: block;
        visibility: hidden;
      }

      width: 1px; // tmp
    }
  }
}

.problem-content {
  pre {
    border-color: #777;
  }
}

.bg-green {
  background-color: @color-green;
}

.bg-red {
  background-color: @color-red;
}

.bg-yellow {
  background-color: @color-yellow;
}

.bg-skyblue {
  background-color: @color-skyblue;
}

.bg-purple {
  background-color: @color-purple;
}

.bg-gray {
  background-color: @color-gray;
}

.problem-result-mark-row {
  border-left: 8px solid transparent;

  &.accepted {
    border-left-color: @color-green;
  }

  &.attempted {
    border-left-color: @color-red;
  }
}

.ranklist {
  .ant-table-tbody > tr > td.stat {
    padding: 0;
    height: 1px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;

    .stat-inner {
      position: relative;
      height: 100%;
      width: 100%;
      display: inline-table;

      span {
        display: table-cell;
        vertical-align: middle;
        padding: 8px;
      }
    }
  }

  .self-rank-row > td {
    border-bottom: 2px solid @primary-color;
  }

  .accepted {
    background: darken(#0a5f00, 4%);
  }

  .failed {
    background: darken(#7d0800, 4%);
  }

  .frozen {
    background: #2f4a8e;
  }

  .fb {
    background: #248e18;
    color: #fff;
  }

  .fb .attempted {
    color: #f0f0f0;
  }

  &.reverse {
    .accepted {
      background: darken(#7d0800, 4%);
    }

    .failed {
      background: darken(#0a5f00, 4%);
    }

    .fb {
      background: #d01c18;
    }
  }
}

&.colorblind-dp {
  .bg-green {
    background-color: @color-blind-dp-green;
  }

  .problem-result-mark-row {
    &.accepted {
      border-left-color: @color-blind-dp-green;
    }
  }

  .ranklist {
    .accepted {
      background: #028aa7;
    }

    .failed {
      background: #bd2f2f;
    }

    .frozen {
      background: darken(#ffc107, 5%);
    }

    .fb {
      background: #0078e2;
    }
  }
}

.u-bbg {
  background-color: #585858;

  &.no-banner::before {
    color: #acacac;
  }
}

.u-avatar {
  .ant-avatar {
    border: 4px solid #333;
  }
}

.card-block-divider {
  border-left: 1px solid #555;
}

.problem-content img {
  opacity: 0.7;
}

.image-area img {
  opacity: 0.7;
}

// solution calendar

.solution-calendar-color-0 {
  fill: #333;
}

.solution-calendar-color-1 {
  fill: @blue-3;
}

.solution-calendar-color-2 {
  fill: @blue-5;
}

.solution-calendar-color-3 {
  fill: @blue-7;
}

.solution-calendar-color-4 {
  fill: @blue-8;
}

// rating

.rating-history {
  opacity: 0.7;
}

//// solution result stats
//
//.stats-progress {
//  .ant-progress-circle-path {
//    stroke: @high-text-color !important;
//  }
//}

// rich text editor

.rt-editor {
  border: @border-width-base @border-style-base @input-border-color;
  border-radius: @border-radius-base;
  transition: all 0.3s;

  .active(@color: @outline-color) {
    border-color: ~`colorPalette('@{color}', 5) `;
    outline: 0;
    box-shadow: @input-outline-offset @outline-blur-size @outline-width fade(@color, 20%);
    border-right-width: @border-width-base !important;
  }

  // == when hoverd
  .hover(@color: @input-hover-border-color) {
    border-color: ~`colorPalette('@{color}', 5) `;
    border-right-width: @border-width-base !important;
  }

  &:hover {
    .hover();
  }

  &:focus {
    .active();
  }

  .bf-controlbar {
    box-shadow: inset 0 -1px 0 0 @input-border-color;

    .separator-line {
      box-shadow: inset -1px 0 0 0 @border-color-split;
    }

    .ant-upload-list-item.ant-upload-list-item-uploading {
      &:first-of-type {
        margin-top: 0;
      }

      &:last-of-type {
        margin-bottom: 16px;
      }
    }
  }

  .braft-code-block {
    background: darken(@component-background, 4%);
    color: #999;
  }
}

// beta

.beta {
  .ultra-banner {
    background-color: #2b2b2b;

    .title {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 4em;
      color: #acacac;
      font-weight: 100;
      font-family: 'Josefin Sans', sans-serif;
      padding-top: @header-height;
    }
  }

  .content {
    .block {
      &.full-block {
        .demo {
          border: 1px solid #272727;
        }
      }

      .ant-carousel {
        .slick-dots {
          li.slick-active button {
            background: #dfdfdf;
          }

          li button {
            background: #ddd;
          }
        }
      }
    }

    .footer {
      background-color: #0f0f0f;
    }
  }
}

.text-para {
  color: @text-color;
}

a {
  &.text-success {
    color: @color-green;

    &:hover {
      color: color(~`colorPalette('@{color-green}', 5) `);
    }

    &:active {
      color: color(~`colorPalette('@{color-green}', 7) `);
    }
  }

  &.text-danger {
    color: @color-red;

    &:hover {
      color: color(~`colorPalette('@{color-red}', 5) `);
    }

    &:active {
      color: color(~`colorPalette('@{color-red}', 7) `);
    }
  }
}

.text-success {
  color: @color-green;
}

.text-danger {
  color: @color-red;
}

.text-secondary {
  color: fade(#fff, 45%);
}

// problem difficulty

.problem-difficulty {
  .ant-badge-count {
    box-shadow: 0 0 0 1px @border-color-base;
    background: @background-color-light;
  }
}

// group detail

.g-bbg {
  background-image: linear-gradient(180deg, transparent 56%, #131313 100%);
}

// form drawer

.form-drawer {
  .ant-drawer-header {
    background-color: @component-background;
  }

  .form-drawer-bottom {
    border-top: @border-width-base @border-style-base @border-color-split;
    background-color: @component-background;
  }
}

// listlike-table

.listlike-table {
  .listlike-table-info {
    a {
      color: @font-color;
    }
  }
}

// }
