@import "variables";
@import "layouts/variables";
@import "../node_modules/antd/lib/style/themes/default";
@import "../node_modules/antd/lib/button/style/mixin";
@import 'margin';
@import "dark";
@import "animations";

// Sticky footer powered by https://github.com/philipwalton/solved-by-flexbox

@bg-color: #f4f4f4;
//@bg-color: rgb(45, 46, 48); // dark
//@font-color: rgb(223, 223, 223); // dark

//rgb(34, 34, 34)

body {
  background-color: @bg-color;
  //color: @font-color; // dark
}

p:last-of-type {
  margin-bottom: 0;
}

pre {
  margin-bottom: 0;
  tab-size: 4;
}

ul {
  padding-inline-start: 1em;
}

//h1, h2, h3, h4, h5, h6 {
//  color: @font-color; // dark
//}

#root {
  display: flex;
  flex-direction: column;
  height: 100%; /* 1, 3 */
}

.ant-layout {
  background: @bg-color;
}

.ant-layout-header {
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba(255, 255, 255, 0.7);
  //background-color: rgba(34, 34, 34, 0.7); // dark

  //background-color: #fff;
  //-webkit-box-shadow: 0 2px 8px #f0f1f2;
  //box-shadow: 0 2px 8px #f0f1f2;
  z-index: 10;
  position: fixed;
  width: 100%;
  flex: none; /* 2 */

  @media only screen and (max-width: 767px) {
    padding: 0;
  }

  //.ant-menu-horizontal > .ant-menu-item > a {
  //  color: @font-color; // dark;
  //}

  .ant-menu {
    background-color: inherit;
    //color: @font-color; // dark;

    &.ant-menu-horizontal {
      &>.ant-menu-item, &>.ant-menu-submenu {
        border-bottom: none;
        top: 0;
        margin-top: 0;

        &>a:before {
          bottom: 0;
        }
      }
    }

    &>.ant-menu-item-selected {
      background-color: rgba(220, 220, 220, 0.2);
      -webkit-backdrop-filter: saturate(180%) blur(20px);
      backdrop-filter: saturate(180%) blur(20px);
      color: inherit;

      &>a {
        color: inherit;
      }
    }
  }
}

.nav {
  line-height: @header-height;
  border-bottom: none;

  @media only screen and (max-width: 767px) {
    border-right: none;
  }
}

.user-page {
  //.ant-layout-header {
  //  padding: 0;
  //}

  .ant-layout-content {
    padding: 0;
  }
}

.ant-layout-content {
  background-color: @bg-color;
  flex: 1 0 auto; /* 2 */
  width: 100%;
  margin-top: @header-height + 20px;
  margin-bottom: 32px;
  padding: 0 50px;

  @media only screen and (max-width: 767px) {
    padding: 0;
  }

  &::after {
    content: '\00a0'; /* &nbsp; */
    display: block;
    height: 0;
    visibility: hidden;
  }
}

.ant-layout-footer {
  flex: none; /* 2 */

  background-color: darken(@bg-color, 4%);
  color: #777;
  font-size: 13px;

  @media only screen and (max-width: 767px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  .ant-divider {
    background: #777;
  }
}

.ant-modal {
  @media only screen and (max-width: 767px) {
    top: @header-height;
  }
}

.card {
  background-color: #fff;
  box-shadow: 0 0 6px 0 rgba(98, 98, 98, .12);
  border-radius: 4px;
  padding: 16px;
  overflow: auto;
  margin-top: 16px;

  .ant-pagination.ant-table-pagination {
    margin-bottom: 0;
  }

  &.list-card {
    overflow: hidden;
    .ant-table-wrapper {
      overflow: auto;
    }
  }
}

.ant-card {
  //color: @font-color; // dark
  //background-color: rgb(34, 34, 34); // dark

  &:not(:first-of-type) {
    margin-top: 16px;
  }

  .ant-card-body {
    padding: 16px;
  }

  &.list-card .ant-card-body {
    padding: 0;

    .ant-table-wrapper {
      overflow: auto;
    }

    .ant-pagination.ant-table-pagination {
      margin-right: 16px;
    }
  }
}

.ant-table-thead > tr > th {
  padding: 16px 8px 8px;

  &:first-of-type {
    padding-left: 16px;
  }

  &:last-of-type {
    padding-right: 16px;
  }
}

.ant-table-tbody > tr > td {
  padding: 8px;

  &:first-of-type {
    padding-left: 16px;
  }

  &:last-of-type {
    padding-right: 16px;
  }
}

.input-button {
  :global(.ant-input-search-button) {
    border-radius: @border-radius-base;

    .btn-default;
  }
}

.input-button-disabled {
  .input-button;

  :global(.ant-input-search-button) {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      .button-color(@btn-disable-color; @btn-disable-bg; @btn-disable-border);
    }
    cursor: not-allowed;
    > * {
      pointer-events: none;
    }
  }
}

.ant-menu-item .anticon {
  font-size: 20px;
  vertical-align: middle;
  margin-right: 0;
}

.menu-popover {
  &.no-inner-vertical .ant-popover-content .ant-popover-inner-content {
    padding-top: 0;
    padding-bottom: 0;
  }

  &.no-inner-horizontal .ant-popover-content .ant-popover-inner-content {
    padding-left: 0;
    padding-right: 0;
  }

  &.inner-content-scroll-md .ant-popover-content .ant-popover-inner-content {
    overflow: auto;
    max-height: 400px;
  }

  .ant-popover-title {
    text-align: center;
    padding-top: 12px;
    padding-bottom: 11px;
  }
}

.ant-popover-arrow {
  background-color: #fff;
}

.ant-skeleton-paragraph {
  padding-inline-start: 0;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.ant-avatar {
  color: fade(#fff, 80%) !important;
}

.ant-list-item .ant-comment-inner {
  padding: 0;

  .ant-comment-avatar img {
    width: 100%;
    height: 100%;
  }
}

.message-list {
  background: transparent;

  .mark-as-read {
    visibility: hidden;
  }

  > .ant-collapse-item {
    .message-footer {
      font-size: 14px;
      color: @text-color;
    }

    &:hover .mark-as-read {
      visibility: visible;
    }
  }
}

.display-none {
  display: none !important;
}

.visibility-hidden {
  visibility: hidden;
}

.visibility-visible {
  visibility: visible;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-bold {
  font-weight: 600;
}

.pointer {
  cursor: pointer;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.text-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.no-wrap {
  white-space: nowrap;
}

.content-view-lg {
  @media only screen and (min-width: 1120px) {
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 1020px;
  }
}

.content-view {
  @media only screen and (min-width: 992px) {
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 892px;
  }
}

.content-view-sm {
  @media only screen and (min-width: 768px) {
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 668px;
  }
}

.content-view-xs {
  width: 90%;

  @media only screen and (min-width: 400px) {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 380px;
  }
}

.responsive-table {
  @media only screen and (max-width: 767px) {
    :global(.ant-table-body) {
      width: 650px;
    }
  }

  @media only screen and (max-width: 425px) {
    :global(.ant-table-body) {
      width: auto;
    }
  }
}

.center-view {
  // position: absolute;
  // top: 45%;
  // left: 50%;
  // transform: translate(-50%, -50%);

  // @media only screen and (max-width: 767px) {
  //   top: 47.5%;
  // }
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.content-area {
  word-wrap: break-word;
  word-break: break-all;
  img {
    max-width: 100%;
  }
}

.click-table {
  .ant-table-tbody > tr {
    .float-btn {
      padding: 0;

      a {
        display: block;
        visibility: hidden;
      }

      a.show {
        visibility: visible;
      }

      width: 1px; // tmp
    }


    &:hover {
      > td {
        cursor: pointer;
      }

      // .float-btn a {
      //   visibility: visible;
      // }
    }
  }
}

.single-row-table {
  .ant-table-placeholder {
    padding: 20px;
  }
}

.bg-green {
  background-color: @color-green;
}

.bg-red {
  background-color: @color-red;
}

.bg-yellow {
  background-color: @color-yellow;
}

.bg-skyblue {
  background-color: @color-skyblue;
}

.bg-purple {
  background-color: @color-purple;
}

.bg-gray {
  background-color: @color-gray;
}

.problem-result-mark-row {
  border-left: 8px solid transparent;

  &.accepted {
    border-left-color: @color-green;
  }

  &.attempted {
    border-left-color: @color-red;
  }
}

@-webkit-keyframes ant-progress-active {
  0% {
    opacity: .1;
    width: 0
  }

  20% {
    opacity: .5;
    width: 0
  }

  to {
    opacity: 0;
    width: 100%
  }
}

@keyframes ant-progress-active {
  0% {
    opacity: .1;
    width: 0
  }

  20% {
    opacity: .5;
    width: 0
  }

  to {
    opacity: 0;
    width: 100%
  }
}


.result-bar {
  width: 50px;
}

.ant-table-tbody > tr > td.result-bar {
  padding: 0;
  height: 1px;
  border-left: 1px solid rgb(232, 232, 232);
  border-right: 1px solid rgb(232, 232, 232);

  .progress {
    position: relative;
    height: 100%;
    display: inline-table;
    background-color: #FFC107;
    transition: all .4s cubic-bezier(.08,.82,.17,1) 0s;

    &::before {
      content: "";
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #fff;
      -webkit-animation: ant-progress-active 2.4s cubic-bezier(.23,1,.32,1) infinite;
      animation: ant-progress-active 2.4s cubic-bezier(.23,1,.32,1) infinite;
    }
  }

  .result {
    position: relative;
    height: 100%;
    width: 100%;
    display: inline-table;
    text-align: center;
    color: #fff;

    span {
      //display: block;
      //transform: translateY(45%);
      display: table-cell;
      vertical-align: middle;
    }
  }
}

.ant-table-thead > tr > th, .ant-table-tbody > tr > td {
  &.near-result-bar {
    padding-left: 20px;
  }
}

@-moz-document url-prefix() {
  .ant-table-tbody > tr > td.result-bar {
    height: 100%;
  }
}

// tmp
//@import "https://acm.sdut.edu.cn/newoj/css/Josefin_Sans-100,300,400.css";
//.x {
//  font-family: 'Josefin Sans', sans-serif;
//  text-align: center;
//  margin: 0 auto;
//}
//
//.x-ver {
//  display: inline-block;
//  border: 1px solid @font-color;
//  border-radius: 20px;
//  width: 136px;
//  height: 136px;
//  line-height: 154px;
//}
//
//.x-header {
//  margin: 290px auto 0;
//  font-weight: 100;
//  font-size: 140px;
//}
//
//.x-section {
//  font-size: 30px;
//}
//
//.x-sub {
//  display: inline-block;
//  width: 800px;
//}
//
//.ant-menu, .ant-layout-header>.ant-row {
//  visibility: hidden;
//}

@import "./Josefin_Sans";
.u-bbg {
  //background-image: url('http://127.0.0.1/oj3_bgs/sunflowers-cut.jpg');
  background-color: #acacac;
  height: 500px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: -84px;
  transition: filter 2s;

  &.thumb {
    filter: blur(20px);
    transition: filter 0s;
  }

  &.no-banner::before {
    content: 'Online Judge';
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    color: #ddd;
    font-weight: 100;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: @header-height;
  }
}

.u-header {
  //margin-left: auto !important;
  //margin-right: auto !important;
  //max-width: 500px;
}

.u-avatar {
  position: absolute;
  top: -60px;

  .ant-avatar {
    border: 4px solid #fff;
  }
}

.u-info {
  display: inline-block;
  margin-left: 136px;
  line-height: 45px;
}

.u-content {
  margin-top: 25px;
}

.card-block-divider {
  border-left: 1px solid #ddd;
}

.warning-text {
  text-align: center;
  margin: 90px 0;
  color: #999;
}

.normal-text-link {
  &:not(:hover):not(:active) {
    color: inherit;
  }
}

.tags {
  line-height: 2em;
}

.td-icon {
  width: 3em;
}

.center-form {
  max-width: 400px;
  width: 100%;
  // margin: 0 auto;
}

.ant-row.ant-form-item.single-form-item {
  padding-bottom: 0;

  .ant-form-item-label {
    padding-bottom: 0;
  }

  .title {
    line-height: 2em;
  }
}

.top-progress {
  position: fixed;
  z-index: 100;
  width: 100%;
  top: @header-height;
  left: 0;
  height: 4px;

  .ant-progress-inner {
    vertical-align: top;
    background-color: transparent;
  }

  .ant-progress-bg {
    height: 4px !important;
  }
}

// Ranklist

.ranklist {
  .ant-table-tbody > tr > td.stat {
    padding: 0;
    height: 1px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;

    .stat-inner {
      position: relative;
      height: 100%;
      width: 100%;
      display: inline-table;

      span {
        display: table-cell;
        vertical-align: middle;
        padding: 8px;
      }
    }
  }

  .self-rank-row > td {
    border-bottom: 2px solid @primary-color;
  }

  .accepted {
    background: #99ff99;
  }

  .failed {
    background: #ff9999;
  }

  .frozen {
    background: #c8d6fa;
  }

  .fb {
    background: #009900;
    color: #fff;
  }

  .fb .attempted {
    color: #f0f0f0;
  }
}

.colorblind-dp {
  .bg-green {
    background-color: @color-blind-dp-green;
  }

  .problem-result-mark-row {
    &.accepted {
      border-left-color: @color-blind-dp-green;
    }
  }

  .ranklist {
    .accepted {
      background: #33d5f7;
    }

    .frozen {
      background: #ffc107;
    }

    .fb {
      background: #006daf;
    }
  }
}


.upload-mask {
  .ant-avatar {
    cursor: pointer;

    &::before {
      content: ' ';
      position: absolute;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.5);
      transition: all .3s;
      width: 100%;
      height: 100%;
      left: 0;
      opacity: 0;
    }
  }

  .upload-mask-icon {
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all .3s;
    z-index: 2;
    opacity: 0;
    font-size: 36px;
    color: rgba(255, 255, 255, 0.85);
  }

  &:hover {
    .ant-avatar::before, .upload-mask-icon {
      opacity: 1;
    }
  }

  &.hold {
    .ant-avatar::before, .upload-mask-icon {
      opacity: 1;
    }
  }



  //display: inline-block;
  //height: 100%;
  //cursor: pointer;
  //z-index: 1;
  //border-radius: 50%;


}

.banner-edit-btn {
  position: absolute;
  right: 40px;
  top: 100px;
  box-shadow: 0 0 10px 0 #999;
  border-radius: 100px;

  .ant-btn span {
    text-shadow: 0 1px 8px #999;
  }
}

// solution calendar

.solution-calendar {
  //cursor: pointer;
}

.solution-calendar-color-0 {
  fill: #eee;
  //cursor: auto;
}

.solution-calendar-color-1 {
  fill: @blue-2;
}

.solution-calendar-color-2 {
  fill: @blue-4;
}

.solution-calendar-color-3 {
  fill: @blue-6;
}

.solution-calendar-color-4 {
  fill: @blue-7;
}

// rating

.name-rating {
  font-weight: 600;
}

.info-tips {
  cursor: pointer;
  opacity: .9;
}

.mini-ratio-progress {
  &.ant-progress {
    line-height: 0;
  }
}

.settings-item {
  line-height: 2em;

  &:not(:first-of-type) {
    margin-top: 1em;
  }

  .ant-switch {
    top: 2px;
  }
}

// rich text editor

.rt-editor {
  border: @border-width-base @border-style-base @input-border-color;
  border-radius: @border-radius-base;
  transition: all 0.3s;

  .active(@color: @outline-color) {
    border-color: ~`colorPalette('@{color}', 5) `;
    outline: 0;
    box-shadow: @input-outline-offset @outline-blur-size @outline-width fade(@color, 20%);
    border-right-width: @border-width-base !important;
  }

  // == when hoverd
  .hover(@color: @input-hover-border-color) {
    border-color: ~`colorPalette('@{color}', 5) `;
    border-right-width: @border-width-base !important;
  }

  &:hover {
    .hover();
  }

  &:focus {
    .active();
  }

  .bf-controlbar {
    box-shadow: inset 0 -1px 0 0 @input-border-color;
  }
}

// comment

.comment-list {
  .ant-list-header {
    padding-top: 0;
    font-size: 16px;
  }
}

// hover-visible util

.hover-visible-container {
  .hover-visible {
    visibility: hidden;
  }

  &:hover .hover-visible {
    visibility: visible;
  }
}

// favorite list

.favorite-list {
  .ant-list-item-meta-content {
    .ant-list-item-meta-title {
      margin-bottom: 0;
    }

    .ant-list-item-meta-description {
      margin-top: 4px;
    }
  }

  .ant-list-item-action {
    margin-left: 25px;
  }
}

// beta

.beta {
  .ultra-banner {
    user-select: none;
    background-color: #dcdcdc;
    height: 500px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: -84px;
    transition: all 2s;
    color: #333;

    .title {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 4em;
      font-weight: 100;
      font-family: 'Josefin Sans', sans-serif;
      padding-top: @header-height;
    }
  }

  .flex-center {
    display: flex;
    justify-content: center;
  }

  .content {
    .block {
      margin: 0 auto;
      padding: 60px 30px;
      max-width: 1200px;
      @header-font-size: 42px;
      @desc-font-size: 16px;

      &.full-block {
        .header {
          text-align: center;
          font-size: @header-font-size;
          margin-bottom: 15px;
        }

        .desc {
          text-align: center;
          font-size: @desc-font-size;
          margin-bottom: 30px;
        }

        .demo {
          background-color: transparent;
          border: 1px solid #e0e0e0;
        }
      }

      &.side-block {
        display: flex;
        justify-content: center;
        flex-direction: row;

        &:nth-of-type(even) {
          flex-direction: row-reverse;
        }

        .intro {
          flex: 1;
          padding: 0 30px;

          .header {
            text-align: center;
            font-size: @header-font-size;
            margin-bottom: 15px;
          }

          .desc {
            text-align: center;
            font-size: @desc-font-size;
          }
        }

        .demo {
          display: flex;
          flex: 1;
          justify-content: center;
          padding: 0 30px;
        }
      }

      .ant-carousel {
        // .slick-slide > div {
        //   display: flex;
        // }

        .slick-list {
          padding-bottom: 30px;
        }

        .slick-dots {
          bottom: 6px;

          li.slick-active button {
            background: #333;
          }

          li button {
            background: #3c3c3c;
          }
        }
      }
    }

    .footer {
      background-color: #eaeaea;

      .block {
        margin: 0 auto;
        padding: 30px;
        max-width: 1200px;

        .header {
          font-size: 25px;
          margin-bottom: 15px;
        }

        .item {
          font-size: 16px;
        }
      }
    }
  }
}

.text-para {
  color: @text-color;
}

.text-secondary {
  color: fade(#000, 45%);
}

.full-width-inner-content {
  @media only screen and (max-width: 767px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.media-min(@min) {
  @query: ~"@media only screen and (min-width: @{min})";
}

.media-max(@max) {
  @query: ~"@media only screen and (max-width: @{max})";
}

.list-view {
  .ant-col-xs-24:not(:first-of-type) {
    @media only screen and (max-width: 767px) {
      margin-top: 16px;
    }
  }
}

// red packet

.red-packet-modal {
  .ant-modal-header, .ant-modal-body, .ant-modal-title {
    background: #b72c2c;
    color: #ffca00;
  }

  .ant-modal-header {
    border-bottom: none;
  }

}
