@import "~antd/lib/style/themes/default";

.customFilterDropdown {
  padding: 8px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .2);

  input {
    width: 250px;
    margin-right: 8px;
  }

  :global(.ant-input-search-button) {
    border-radius: @border-radius-base;
  }
}

.responsiveTable {
  @media only screen and (max-width: 767px) {
    :global(.ant-table-body) {
      width: 700px;
    }
  }
}
